if BOARD_INTHEWORKS

config BOARD
	default "intheworks"

config ZMK_KEYBOARD_NAME
	default "InTheWorks"

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_INTHEWORKS
